.SignoutButton {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2d3436;
  border: none;
}

.SavedPlacesButton {
  width: 100%;
  cursor: pointer;
}

.SavedPlacesText {
  color: #ffffff;
}
