.NavbarMenu {
  line-height: 4em;
}

.MenuIcon {
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 1em;
  left: 1em;
}

.DrawerTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.SignoutButton {
  position: absolute;
  bottom: 0;
  left: 0;
}
