.Navbar {
  background: #1f2124;
}

.NavbarMenu {
  line-height: 4em;
}

.MenuIcon {
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 1em;
  left: 1em;
}

.NavbarAvatar {
  cursor: pointer;
}

.AvatarContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1em;
}

.AvatarText {
  color: white;
  margin-left: 1em;
}

.SignoutButton {
  background-color: #2d3436;
  border: none;
}
