@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #B5FFFC;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  overflow-y: hidden;
}

.ant-drawer-wrapper-body {
  background-color: #0f0f0f;
  background-image: linear-gradient(315deg, #2d3436 0%, #0f0f0f 74%);
}

.ant-drawer-header {
  background-color: #0f0f0f;
  border: none;
}

.ant-drawer-title {
  color: #ffffff;
}

.ant-drawer-close {
  color: #ffffff;
}

.ant-popover-inner {
  background-color: #1f2124;
}

.ant-popover-message-title {
  color: #ffffff;
}
